.table {
  margin-left: 380px;
}
.quick {
  width: 200px;
  height: 50px;
  top: 400px;
}
.brown {
  width: 200px;
  height: 50px;
  top: 400px;
}
.jump {
  width: 200px;
  height: 50px;
  top: 400px;
}
.over {
  width: 200px;
  height: 180px;
  top: 400px;
  text-align: center;
}
.lazy{width: 200px;
  height: 180px;
  top: 400px;
  text-align: center;
}}