h1 {
  color: aqua;
}
p {
  text-align: right;
  color: blueviolet;
}
#Lorem {
  color: yellowgreen;
  text-align: left;
}
#Salom {
  color: tomato;
  text-align: center;
  max-width: 3;
  margin-top: 14;
}
#Loren {
  text-align: center;
}
#div1 {
  background-color: chocolate;
}
#yerda {
  color: ghostwhite;
}
